*{
    width: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.columnaizq{
    width: 28%;
    border: 1px solid white;
    float: left;
}

img{
    float: left;
    width: 300px;
    padding: 10%;
    margin-right: 10px;
    margin-left: 150px;
 }

.columnadrch{
   width: 68% ;   
   float: right;
   border: 1px;
   margin-bottom: 30px;
}

.titulo{
    position: relative;
    display: inline ;
    margin-bottom: 30px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    }

.log{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    margin-bottom: 30px;
   
}
.login{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

form{
    margin-bottom: 30px;
    width: 400px;
    
}

.form label,
.form input {
    margin-bottom: 10px; 
}

.fila{
    width: 100%;
    display: inline-block;
    border: solid 0.5px 
  }
  
  .form{
    padding: 5px;
  }
  
  label{
    display: block;
  }
  
  input{
    width: 100%;
  }

  .listado{
    columns: 2;
    padding-left: 18px;
    margin-bottom: 30px;
    column-gap: 1px;
    width: 500px;
  }
  
  .zonesubmit {
    font-size: 0;
    text-align: center; 
}

.sign{
    display: inline-block;
    vertical-align: middle; 
    font-size: 16px; 
    margin-right: 10px; 
    width: 100px;
}
.box{
    display: inline-block;
    vertical-align: middle; 
    font-size: 16px; 
    margin-right: 10px; 
    width: 30px;
   
}

p{
    margin-top: 30px;
    width: 430px;
    display: inline-block;
}

.pbox {
    display: inline-block;
    vertical-align: middle; 
    font-size: 16px; 
    margin-right: 0; 
    width: 200px;
}
