*{
    width: 100%;
    
}

img{
   float: left;
   width: 18%;
   padding: 2%;
}

.columnadrch{
   margin-left: 200px;
   width: 78% ;   
}

.titulo{
    position: relative;
    display: inline ;

}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.log{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
   
}
.login{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

form{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 400px;
    display: inline;
}

.email{
    font-weight: bolder;
    display: block;
    margin-bottom: 18px;
}

.Username{
    margin-bottom: 30px;
}

.userna{
    font-weight: bolder;
}

.password{
    margin-bottom: 30px;
}
.pass{
    font-weight: bolder;
}

