*{
    width: 100%;
    
}

.columnaizq{
    width: 18%;
}

img{
   float: left;
   width: 180px;
   padding: 10%;
   margin-right: 20px;
}

.columnadrch{
   margin-left: 200px;
   width: 78% ;   
}

.titulo{
    position: relative;
    display: inline ;

}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.log{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
   
}
.login{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

form{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 400px;
    display: inline;
}

.email{
    font-weight: bolder;
    display: block;
    margin-bottom: 18px;
}

.Username{
    margin-bottom: 30px;
}

.userna{
    font-weight: bolder;
}

.password{
    margin-bottom: 30px;

}
.pass{
    font-weight: bolder;
}

.lista{
    display: inline-block;
    width: 10%;
    padding: 10px 0 20px 0;
   
}

ul{
    display: inline-block;
    padding-right: 1px
}

.listaizq{
float: left;
margin-right: 30px;

}   

.listadrch{
float: left;
position: absolute;

}


